---
on:
  workflow_call:
    inputs:
      enable_draft:
        required: false
        type: boolean
        default: false
      enable_latest:
        required: false
        type: boolean
        default: true
      enable_release_notes:
        required: false
        type: boolean
        default: true
      enable_updates:
        required: false
        type: boolean
        default: true
    outputs:
      next_version:
        value: ${{ jobs.release.outputs.next_version }}
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  release:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    outputs:
      next_version: ${{ steps.semver.outputs.next }}

    steps:
      - name: Checkout Code (Full History for PRs)
        if: github.event_name == 'pull_request'
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
          fetch-tags: true
          ref: ${{ github.event.pull_request.head.ref }}

      - name: Checkout Code (Regular)
        if: github.event_name != 'pull_request'
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
          fetch-tags: true

      - name: Get Next Version
        id: semver
        uses: ietf-tools/semver-action@v1
        with:
          token: ${{ github.token }}
          branch: ${{ github.event_name == 'pull_request' && github.event.pull_request.head.ref || github.ref_name }}
          noVersionBumpBehavior: "silent"
          skipInvalidTags: true
          patchList: fix, bugfix, perf, refactor, test, tests, chore, ci

      - name: Create Release
        if: github.event_name != 'pull_request' && steps.semver.outputs.next != ''
        uses: ncipollo/release-action@v1
        with:
          allowUpdates: ${{ inputs.enable_updates }}
          commit: main
          draft: ${{ inputs.enable_draft }}
          makeLatest: ${{ inputs.enable_latest }}
          generateReleaseNotes: ${{ inputs.enable_release_notes }}
          name: ${{ steps.semver.outputs.next }}
          tag: ${{ steps.semver.outputs.next }}
          token: ${{ github.token }}

  heimdallr:
    needs: release
    uses: discrapp/.github/.github/workflows/heimdallr.yml@main
    permissions:
      contents: write
      issues: write
      pull-requests: write
    secrets: inherit
    with:
      enable_slack: ${{ github.event_name != 'pull_request' }}
      enable_comment_on_pr: ${{ github.event_name == 'pull_request' }}
      comment_identifier: "<!-- heimdallr_release_version_comment -->"
      slack_message: "The project <https://github.com/${{ github.repository }}|${{ github.repository }}> just released version <https://github.com/${{ github.repository }}/releases/tag/${{ needs.release.outputs.next_version }}|${{ needs.release.outputs.next_version }}>."
      comment_content: "## :rocket: Next Release Version\n\nThe next semantic version for this PR will be: **${{ needs.release.outputs.next_version }}**"
